* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.left-pane {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #E5E7E9;
    padding-top: 81px;
}

.search-pane {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.left-pane  input {
    width: 85%;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #b0bcb9;
    outline: none;
    border: none;
    display: inline-block;
}

.left-pane .search-pane button {
    width: 13%;
    padding: 10px 5px;
    text-align: center;
    font-size: 18px;
    background-color: #b0bcb9;
    outline: none;
    margin: 0;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.left-pane .menu-button {
    width: 100%;
    padding: 25px;
    font-size: 18px;
    transition: all .7s;
}

.left-pane .menu-button:hover {
    background-color: #cd9f9f;
}

.left-pane .menu-button i {
    padding: 0 20px;
}
