/*
filename: enhancement.css
author: Minh Nhat Nguyen
created: 22/03/2022
last modified: 27/03/2022
description: CSS for enhancement.html, inside assignment Part 1 COS10026
*/

.enhancement {
    background-color: #cdcdcd;
}

.background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -9999999;
    background: url(../images/enhancment-bg.jpg) no-repeat;
    background-size: cover;
}

.container {
    /* width: 70%;
    min-height: 400px;
    min-height: 700px;
    float: left;
    padding: 50px 0 0 30px; */
    width: 100%;
    min-height: 750px;
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 50px auto;
    z-index: 1;
}

.container article {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
    width: 100%;
    z-index: 1;
    background-color: rgba(1,1,1, .7);
    color: #eee;
}

.main-article {
    padding: 50px;
}

.sub-article {
    padding: 20px;
    font-size: 18px;
}

.container article h1 {
    font-size: 36px;
    transition: ease-in-out .8s;
}

.container article {
    animation: slidefromright 2s ease-out;
}

.container article h1::before {
    content: "";
    margin: 8.5px 0 0 -9px;
    height: 36px;
    width: 10px;
    background-color: rgb(223, 45, 45);
    z-index: -1;
    position: absolute;
    transition: ease-in-out .6s;
}

.container article h1:hover::before {
    width: 250px;
}


@keyframes slidefromright {
    0% {
        transform: translateX(300%);
    }
    100% {
        transform: translateX(0%);
    }
}

.code-link {
    text-decoration: none;
}

.hidden-bubble {
    display: none;
}

.code-link:hover + .hidden-bubble{
    display: block;
    color: #61c121;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    font-size: 15px;
    padding: 0 3px;
}

details .head-summary {
    font-size: 20px;
}

/* details {
    background-color: white;
} */

details ol {
    margin: 0 0 0 20px;
}

.no-list-icon {
    list-style-type: none;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #61c121
}