/*
filename: enhancement.css
author: Minh Nhat Nguyen
created: 22/03/2022
last modified: 27/03/2022
description: CSS for enhancement.html, inside assignment Part 1 COS10026
*/

.enhancement {
    background-color: #cdcdcd;
}

.container {
    width: 100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 70px auto;
    z-index: 1;
    background: url(../images/enhancment-bg.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.container article {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
    width: 100%;
    z-index: 1;
    
    color: #eee;
}

.main-article {
    padding: 30px 50px 50px 50px;
    background-color: rgba(1,1,1, .7);
}

.sub-article {
    padding: 20px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: rgba(1,1,1, 1);
}

.container article h1 {
    font-size: 36px;
}

.container article > * {
    animation: slidefromright 2s ease-in-out;
}

.container article h1::before {
    content: "";
    margin: 8.5px 0 0 -12px;
    height: 36px;
    width: 10px;
    background-color: rgb(223, 45, 45);
    z-index: -1;
    position: absolute;
    transition: ease-in-out .6s;
    animation: highlight 3s .5s ease-in-out;
}

.container article h1:hover::before {
    width: 265px;
}


@keyframes slidefromright {
    0% {
        transform: translateX(400%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes highlight {
    0% {
        width: 0px;
    }
    50% {
        width: 520px;
    }
    100% {
        width: 10px;
    }
}

.link {
    text-decoration: none;
}

.code-link {
    text-decoration: none;
    
}

.code-link::after {
    content: "Click on the code to go to full file";
    margin-left: 10px;
    color: #61c121;
    display: none;
}

.code-link:hover::after {
    display: inline-block;
}

code {
    background-color: rgba(238, 238, 238, 0.747);
    border-radius: 3px;
    font-family: Consolas, 'Courier New', Courier, monospace;
    color: #551a8b;
    font-size: 15px;
    padding: 0 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

details .head-summary {
    font-size: 20px;
}

.white {
    color: white;
}

details ol {
    margin: 0 0 0 20px;
}

.no-list-icon {
    list-style-type: none;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #61c121
}

#subtitle {
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .main-article {
        width: 100%;
    }
    .container {
        display: block;
        min-height: 0px;
    }
}

@media screen and (max-width: 768px) {
    .main-article {
        width: 100%;
        padding: 10px
    }
    .sub-article, .head-summary, .no-list-icon > * {
        font-size: 24px !important;
    }
    #subtitle {
        font-size: 20px;
    }
    .container {
        display: block;
        min-height: 0px;
    }
    .container article h1::before {
        display: none;
    }
    .container article > * {
        animation: none
    }
}

.enhancement-figure {
    text-align: center;
    font-size: 14px;
    font-style: italic;
}