footer {
    clear: both;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 25px 0px 25px;
    margin-top: 100px;
    font-style: italic;
    align-items: center;
}

.footer-list .footer-list-item {
    list-style: none;
    margin-bottom: 12px;
    font-family: poppins, sans-serif;
    font-size: 12px;
}

.footer-list .footer-list-item .footer-list-anchor {
    text-decoration: none;
    color: white;
    font-family: poppins, sans-serif;
    font-size: 12px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#copyright-line{
    margin-left: 0;
    border-top: 2px solid white;
    width: 100%;

}

div[class="footer-bottom"] p {
    font-size: 12px;

}