/* 
File: index.css
Author: Daniel Cornelius Wong Yui Herng
created: 22/03/2022
last modified: 06/04/2022 12:49 AM by Minh Nhat Nguyen
description: Styling for index.html, part of Part 1 Assignment of unit COS10026
*/

#index{
	background-image: url("../images/bgimg.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	background-color: rgba(115, 115, 115, 0.8);
	background-blend-mode: multiply;
}
.content{
	font-size:18px;
	line-height: 24px;
	max-width: 1500px;
	text-align: center;

	background-color: rgba(0, 0, 0,0.7);
	padding-top: 34px;
	width: 54%;
	border-radius: 5px;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 60px ;
}

.content p {
	padding:15px;
	text-align: justify;
	text-justify: inter-word;
}

#index-html-head-title{
	margin-top: 100px;
	font-size: 35px;
	text-align:  center;

}

#click-for-more {
	text-decoration: none;
}

#more{
	display: flex;
    justify-content: center;
	font-weight: 800;
    background-color: rgb(189, 189, 189);
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    border-radius: 100px;
    transition: all 0.3s;
    margin: auto;
    color: black;
    width: 40%;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	
}
#more:hover{
	transform: translateY(-3px);
	background-color:rgb(125, 228, 255);
	box-shadow: 15px 15px 25px rgba(36, 160, 255, 0.3);
	border-color: rgb(67, 210, 247)
}
