/* 
File: index.css
Author: Daniel Cornelius Wong Yui Herng
created: 22/03/2022
last modified: 06/04/2022
description: Styling for index.html, part of Part 1 Assignment of unit COS10026
*/

#index{
	background-image: url(../images/10167453h.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	background-color: rgba(115, 115, 115, 0.8);
	background-blend-mode: multiply;
}
.content{
	font-size:18px;
	max-width: 1500px;
	text-align: center;
	padding-bottom: 30px;
	background-color: rgba(0, 0, 0,0.7);
	padding-top: 34px;
	width: 60%;
	border-radius: 5px;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 60px ;
}

.content p {
	padding:15px;
	text-align: justify;
}

#index-html-head-title{
	margin-top: 100px;
	font-size: 35px;
	text-align:  center;

}

#more{
	display: flex;
    justify-content: center;
	font-weight: 800;
    background-color: rgb(189, 189, 189);
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    border-radius: 100px;
    transition: all 0.3s;
    margin: auto;
    color: black;
    width: 100%;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
	
}
#more:hover{
	transform: translateY(-3px);
	background-color:rgb(125, 228, 255);
	box-shadow: 15px 15px 25px rgba(36, 160, 255, 0.3);
	border-color: rgb(67, 210, 247)
}


/* Minh Nhat Nguyen modification */
@media screen and (max-width: 1024px) {
	.content {
		width: 100%;
		padding: 0;
		margin: auto;
		font-size: 18px;
	}
	#index-html-head-title {
		margin: 125px 10px 30px;
		font-size: 24px;
	}
	#more {
		width: 80%;
		font-size: 32px;
	}
}