/*
filename: enhancement.css
author: Minh Nhat Nguyen
created: 22/03/2022
last modified: 27/03/2022
description: CSS for enhancement.html, inside assignment Part 1 COS10026
*/
.container {
    width: 100%;
    min-height: 400px;
}

#login-page .background-image {
    z-index: -1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#141e30, #243b55);
    background-size: cover;
}

.login-container {
    z-index: -1;
    width: 500px;
    height: 450px;
    color: #eee;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.7);
}

.login-container > h1 {
    text-align: center;
}

.login-form {
    background-color: rgba(0, 0, 0, 0);
    margin: 20px auto;
    padding: 20px 0;
    width: 400px;
}

.login-form .box {
    position: relative;
    margin: 30px 0;
}

.login-form label {
    position: absolute;
    top:0;
    left: 0;
    padding: 6px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
  

.login-form .text-box {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

#login-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e8f4ce;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 2px;
    height: 40px;
}

#login-btn:hover {
    background: #03e9f4;
    outline: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }

.login-form label {
    font-size: 20px;
}


.login-form {
    display: block;
}

.copyright {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .login-container {
        width: 100%;
    }
    .login-form {
        display: block;
        min-height: 0px;
        width: 90%;
    }

    #login-btn {
        width: 100%;
    }
}
