@import url(./admin_left_pane.css);

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.background-image {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#141e30, #243b55);
    background-size: cover;
}

.main {
    color: #fff;
    padding: 75px 25px 75px 260px;
    display: grid;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 70px 42px;
}

.main .title1 {
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.main .title2 {
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 2;
}

.main .title {
    text-align: left;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 2;
    padding-left: 20px;
}

.update-form {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 3;
}

/* Table CSS */

.id {
    width: 20%;
}

.table-10 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2 / span 0;
}

.big-table {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 2;
}

.big-table, .table-10 {
    margin-bottom: 30px;
    border-collapse: collapse;
    width: 100%;
}

table a {
    color: #fff;
}

.big-table .name, .table-10 .name {
    width: 20%;
}

.big-table .date, .table-10 .date {
    max-width: 10%;
    overflow: hidden;
}

.big-table th, td, .table-10 th, td {
    border: none;
    text-align: left;
}

.big-table .head-row, .table-10 .head-row {
    background-color: #55608E;
    border: 1px solid #55608E;
    height: 42px;
}

.big-table th, .table-10 th {
    min-width: 50px;
    padding: 10px 0 10px 10px;
    color: #fff;
    text-decoration: none;
}

.big-table td, .table-10 td {
    background-color: #7591A9;
    padding: 5px 0 5px 10px;
    border: 1px #7591A9;
    color: #fff;
    font-size: 14px;
    max-height: 42px !important;
}

/* Navbar CSS */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 61px;
}

.nav-bar
{
    display: flex;
    overflow: visible;
    background-color: #0e0d0d;
    justify-content: flex-end;
    /* padding: 0 0 0 160px; */
    align-items: center !important;
    max-height: 62px;
}

.nav-bar ul{
    margin-right: 0;
    padding: 0;
    margin-bottom: 0 !important;
}

.nav-links li a, .manage-button
{
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat','Segoe UI', sans-serif;
    font-weight: 500;
}

.nav-links li
{
    display: inline-block;
    padding: 20px 20px 20px 20px;
}

.nav-links li:hover, .manage-button:hover {
    transition: all .7s ease-in;
    color: #a09c9c;
    background-color: #4b4949;
}

.nav-bar .nav-links .icon, .manage-button .icon {
    padding-right: 5px;
}

.fa-bars {
    font-size: 36px;
    color: white;
    cursor: pointer;
    display: none !important;
}


/* Responsive design for Navigation bar */
@media screen and (max-width: 1024px) {
    header {
        position: fixed;
        width: 100%;
    }
    .nav-bar {
        display: block;
        padding: 0;
    }
    .nav-bar li {
        display: block;
        padding: 30px 30px 30px 0;
    }

    .nav-bar ul {
        display: none;
        padding: 0;
    }
    .fa-bars {
        padding: 20px;
        display: inline-block !important;
        border-right: 5px solid black;
    }
    .manage-button{
        display: none;
    }
}


#menu-btn {
    display: none;
}
/* ~ means the select nearest siblings so  #menu-btn:checked ~ ul means select sibling ul tag*/
#menu-btn:checked ~ ul {
    display: block !important;
    width: 90%;
    z-index: 100000000;
}

.manage-button {
    width: 110px;
    margin-right: 30px;
    padding: 20px;
    right: 20px;
}

/*
Custom Scrollbar
author: Minh Nhat Nguyen
*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff2f2;
    border-radius: 70%;
}

::-webkit-scrollbar-thumb {
    background: rgb(156, 156, 156);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 30, 30);
}

.update-form {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 3;
}

.update-form label, .update-form input, .update-form .btn-primary{
    font-size: 16px;
    height: 38px;
    border-radius: .25rem;
    margin-top: 5px;
}

.form-control {
    width: 100%;
    padding: 6px 12px;
    border: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.menu-button i {
    font-size: medium;
    width: 56px;
}