body{
  background: url("../images/bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  background-color: rgba(115, 115, 115, 0.8);
  font-size: 1em;
  background-blend-mode: multiply;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading{
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 100px;
}

#head{
  font-size: 2.5em;
}
#subheading{
  font-size: 18px;
  margin-top: 10px;
}
.message{
  background-color: rgba(0, 0, 0,0.9);
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 45%;
  border-radius: 5px;
  margin-top: 10px;
  flex-direction: column;
  padding-bottom: 20px ;
}
/* .circle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
} */
.score{
  margin-bottom: 2em;
}
.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  animation-name: background-effect;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  padding: 30px;
  box-shadow: 6px 6px 10px -1px rgba(128, 204, 255,0.15),
              -6px -6px 10px -1px rgba(128, 204, 255,0.7);
  box-sizing: content-box;
}
.inner{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 9.2px;
  background-color: #3b3a3a;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(128, 204, 255,0.7),
              -0.5px -0.5px 0px rgba(36, 167, 255,1),
              0.5px 0.5px 0px rgba(0, 0, 0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05);
  box-sizing: content-box;
}
.score p[id = "score"]{
  text-align: center;
  font-size: 4em;
  margin: auto;
  margin-top: 20px;
}
.score p[id = "out-of"]{
  text-align: center;
  font-size: 1em;
  margin: auto;
  margin-bottom: 10px;
}
#attempt{
  font-weight: 100px;
  font-size: 2em;
  margin-bottom: 0.1px;
  text-align: center;
  padding: auto;
}
.message1{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: auto;
  margin-bottom: 5em;
}

.info{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 45%;
}
#over-msg{
  font-size: 2em;
}
.anchor{
  animation-name: highlight-ans;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
h4{
  font-weight: 600px;
  font-size: 2em;
  margin-bottom: 10px;
}

.reason{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  width: 50%;
}

@keyframes highlight-ans{
  0%
  {
      color: rgb(128, 204, 255);
  }
  25%
  {
      color: rgb(128, 204, 255);
  }
  50%
  {
      color: rgb(36, 167, 255);
  }
  75%
  {
      color: rgb(0, 153, 255);

  }
  100%
  {
      color: rgb(0, 136, 227);

  }
}
#check td, #check th {
  border: 1px solid #ddd;
  padding: 8px;
}
#check th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(36, 167, 255);
  color: white;
}
@keyframes background-effect{
  0%
  {
      background-color: rgb(128, 204, 255);
  }
  25%
  {
      background-color: rgb(128, 204, 255);
  }
  50%
  {
      background-color: rgb(36, 167, 255);
  }
  75%
  {
      background-color: rgb(0, 153, 255);

  }
  100%
  {
      background-color: rgb(0, 136, 227);

  }
}


/* 
File: navbar.css
Author: Minh Nhat Nguyen
created: 22/03/2022
last modified: 27/03/2022
description: Styling for navigation bar inside every page, linking through style.css, part of Part 1 Assignment of unit COS10026
*/

header {
  position: sticky;
  top: 0;
  z-index: 10000;
}
/* Use flex to align list centered */
.nav-bar
{
  display: flex;
  overflow: visible;
  background-color: #0e0d0d;
  justify-content: flex-end;
  padding: 0 0 0 160px;
  align-items: center;
}

.nav-bar ul{
  margin: auto;
  padding: 0;
}

.nav-links li a, .manage-button
{
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Montserrat','Segoe UI', sans-serif;
  font-weight: 500;
}

.nav-links li
{
  display: inline-block;
  padding: 20px 20px 20px 20px;
}

.nav-links li:hover {
  transition: all .7s ease-in;
  color: #a09c9c;
  background-color: #4b4949;
}

.nav-bar .nav-links .icon, .manage-button .icon {
  padding-right: 5px;
}

.fa-bars {
  font-size: 36px;
  color: white;
  cursor: pointer;
  display: none !important;
}


/* Responsive design for Navigation bar */
@media screen and (max-width: 1024px) {
  header {
      position: fixed;
      width: 100%;
  }
  .nav-bar {
      display: block;
      padding: 0;
  }
  .nav-bar li {
      display: block;
      padding: 30px 30px 30px 0;
  }

  .nav-bar ul {
      display: none;
      padding: 0;
  }
  .fa-bars {
      padding: 20px;
      display: inline-block !important;
      border-right: 5px solid black;
  }
  .manage-button{
      display: none;
  }
}


#menu-btn {
  display: none;
}
/* ~ means the select nearest siblings so  #menu-btn:checked ~ ul means select sibling ul tag*/
#menu-btn:checked ~ ul {
  display: block !important;
  width: 90%;
  z-index: 100000000;
}

.manage-button {
  background-color: #13a2d6;
  min-width: 110px;
  border-radius: 15px;
  border: 1px solid #13a2d6;
  padding: 6px 10px;
  right: 20px;
  top: 0;
  margin-right: 30px;
}

/*
File: footer.css
Author: Viet Dung Tran
created: 16/03/2022
last modified: 27/03/2022
description: CSS for footer
*/

footer {
  clear: both;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 25px 0px 25px;
  font-style: italic;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
}

.footer-list .footer-list-item {
  list-style: none;
  margin-bottom: 12px;
  font-family: poppins, sans-serif;
  font-size: 12px;
}

.footer-list .footer-list-item .footer-list-anchor {
  text-decoration: none;
  color: white;
  font-family: poppins, sans-serif;
  font-size: 12px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 18px;
}
#copyright-line{
  margin-left: 0;
  border-top: 2px solid white;
  width: 100%;

}
.footer-row{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-col{
  padding: 10px;
}
.swinburne-logo{
  width: 100%;
  margin-bottom: 20px;
}
.footer-col h3{
  width: fit-content;
  margin-bottom: 20px;
  font-family: poppins,sans-serif;
  font-size: 15px;
}

.contact-us .fa-brands{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-top: 10px;
}
.contact-us .brand-icon:hover{
  cursor: pointer;
  color: rgb(82, 220, 255);
  transform: translateY(-3px);
  box-shadow:rgba(82, 220, 255, 0.6) ;
}
.contact-us .fa-linkedin:hover{
  cursor: pointer;
  color: rgb(40,103,178);
  transform: translateY(-3px);
  box-shadow: rgba(40,103,178,0.6) ;
}
.contact-us .fa-instagram:hover{
  cursor: pointer;
  color: rgb(225,48,108);
  transform: translateY(-3px);
  box-shadow: rgba(225,48,108, 0.6);
}
.contact-us .fa-facebook-f:hover{
  cursor: pointer;
  color: rgb(66, 103, 178);
  transform: translateY(-3px);
  box-shadow: rgba(66, 103, 178, 0.6);
}
.contact-us .fa-youtube:hover{
  cursor: pointer;
  color: rgb(255, 0 ,0);
  transform: translateY(-3px);
  box-shadow: rgba(255, 0, 0, 0.6);
}
copyright-line{
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

div[class="footer-bottom"] p {
  font-size: 12px;

}

.footer-row{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-col{
  padding: 10px;
}
.swinburne-logo{
  margin-bottom: 20px;
}
.footer-col h3{
  width: fit-content;
  margin-bottom: 20px;
  font-family: poppins,sans-serif;
  font-size: 15px;
}