/* 
File: navbar.css
Author: Minh Nhat Nguyen
created: 22/03/2022
last modified: 27/03/2022
description: Styling for navigation bar inside every page, linking through style.css, part of Part 1 Assignment of unit COS10026
*/

header {
    position: sticky;
    top: 0;
    z-index: 10000;
}

.nav-bar
{
    display: flex;
    overflow: visible;
    background-color: #0e0d0d;
    justify-content: center;
    align-items: center;
}

.nav-links li a
{
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat','Segoe UI', sans-serif;
    font-weight: 500;
}

.nav-links li
{
    display: inline-block;
    padding: 20px;
}

.nav-links li a:hover {
    transition: all .5s ease 0s;
    color: #a09c9c;
}

.nav-bar .nav-links .icon {
    padding-right: 5px;
}

.fa-bars {
    font-size: 36px;
    color: white;
    cursor: pointer;
    display: none !important;
}


@media screen and (max-width: 1024px) {
    .nav-bar {
        display: block;
    }
    .nav-bar li {
        display: block;
    }
    .nav-bar ul {
        display: none;
    }
    .navbar-show {
        display: block !important;
        width: 90%;
        z-index: 100000000;
    }
    .fa-bars {
        padding: 20px;
        display: inline-block !important;
        border: 1px solid black;
    }
}
