.nav-bar
{
    display: flex;
    background-color: #0e0d0d;
    justify-content: center;
    align-items: center;
}

.nav-links li a
{
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat','Segoe UI', sans-serif;
    font-weight: 500;
}

.nav-links li
{
    display: inline-block;
    padding: 20px;
}

.nav-links li a:hover {
    transition: all .5s ease 0s;
    color: #a09c9c;
}

.nav-bar .nav-links .icon {
    padding-right: 5px;
}


/* @media screen and (max-width: 1024px) {
    .nav-bar {
        
    }
} */