/* 
File: navbar.css
Author: Minh Nhat Nguyen
created: 22/03/2022
last modified: 27/03/2022
description: Styling for navigation bar inside every page, linking through style.css, part of Part 1 Assignment of unit COS10026
*/

header {
    position: sticky;
    top: 0;
    z-index: 10000;
}
/* Use flex to align list centered */
.nav-bar
{
    display: flex;
    overflow: visible;
    background-color: #0e0d0d;
    justify-content: center;
    align-items: center;
}

.nav-links li a
{
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat','Segoe UI', sans-serif;
    font-weight: 500;
}

.nav-links li
{
    display: inline-block;
    padding: 20px;
}

.nav-links li:hover {
    transition: all .7s ease-in;
    color: #a09c9c;
    background-color: #4b4949;
}

.nav-bar .nav-links .icon {
    padding-right: 5px;
}

.fa-bars {
    font-size: 36px;
    color: white;
    cursor: pointer;
    display: none !important;
}


/* Responsive design for Navigation bar */
@media screen and (max-width: 1024px) {
    header {
        position: fixed;
        width: 100%;
    }
    .nav-bar {
        display: block;
    }
    .nav-bar li {
        display: block;
    }

    .nav-bar ul {
        display: none;
    }
    .fa-bars {
        padding: 20px;
        display: inline-block !important;
        border-right: 5px solid black;
    }
}


#menu-btn {
    display: none;
}
/* ~ means the select nearest siblings so  #menu-btn:checked ~ ul means select sibling ul tag*/
#menu-btn:checked ~ ul {
    display: block !important;
    width: 90%;
    z-index: 100000000;
}
