/*
filename: scrollbar.css
author: Minh Nhat Nguyen
created: 22/03/2022
last modified: 27/03/2022
description: CSS for custom scrollbar, inside assignment Part 1 COS10026
*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #fff2f2;
    border-radius: 70%;
}

::-webkit-scrollbar-thumb {
    background: rgb(156, 156, 156);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(92, 91, 91);
}