@import url(./enhancement.css);
@import url(./navbar.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #cdcdcd;
}

.nav-bar .nav-links .icon {
    padding-right: 5px;
}