@import url(./enhancement.css);
@import url(./navbar.css);
@import url(./quiz.css);
@import url(./footer.css);
@import url(./index.css);
@import url(./topic.css);
@import url(./scrollbar.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}



