/*css for topic.html*/
/*Author: Daniel Cornelius Wong Yui Herng*/

#index-page {
    background-color: #cdcdcd;
}

.table{
	text-align:center;
	border-collapse:collapse;
	border:1px solid black;

}
.table th{
	background-color: #c0aed6; /*changes background color for table heading*/
	border: 1px solid black;
	padding: 10px;
}

.table td{
	background-color: #dac7f0; /*changes background color for table data cells*/
	border: 1px solid black;
}

.topic-article{
	padding: 30px;
}

.topic-article h1{
	font: bold 25px "Segoe UI", sans-serif; /*h1 element uses short-hand "font" property*/
}
.topic-article ol li{
	margin-left: 25px;
}

.topic-article ul li{
	margin-left: 25px;
}

/*css for aside with coloured border and 30% width floating to the right*/
aside{ 
	border: 1px solid red; 
	padding: 10px;
	margin: 10px;
	width: 30%;
	float: right;
}

.reference .reference-link {
	text-decoration: none;
	font-style: italic;
}

figure {
    text-align: center;
}

#index-page main {
    margin: 100px 0 0 0;
}